<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add group</title>
</head>
<body>
{% include 'menu.html' %}
    <div class="container">
        <form name="add_group" action="add_group" method="post">
        <div class="form-group">
            <p><b>Add group</b></p>
            <p>Name <input type="text" class="form-control" name="name"></p>
            <p>Parent
                <select name="parent" class="form-control form-control-sm">
                {% for i in categories %}
                    <option name="{{i.title}}" value="{{i.id}}">{{i.title}}</option>
                {% endfor %}
                    <option name="" value=""></option>
                </select></p>
            <p><input type="submit"></p>
        </div>
        </form>
    </div>
</body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>