<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
<div class="container">
   <h1>Admin </h1>
    <div class="menu">
        <a href="/orders">Заказы</a>
        <a href="/products">Товары</a>
        <a href="/add_group">Добавить категорию</a>
        <a href="/add_product">Добавить товар</a>
        <a href="/users">Пользователи</a>
        <a href="/news">Новости</a>
        <a href="/add_news">Добавить новости</a>
    </div>
</div>
<div class="container">
    <div class="container">
        <form name="add_product" action="/add_product" method="post"  enctype = "multipart/form-data">
        <div class="form-group">
            <p><b>Add product</b></p>
            <p>Title <input type="text" class="form-control" name="title"></p>
            <p>Description <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></p>
            <p>Price <input type="number" class="form-control"  name="price"></p>
            <p>Image <input type="file" class="form-control-file"  name="file"></p>
            <p>Parent
                <select name="parent" class="form-control form-control-sm">
                {% for i in categories %}
                    <option name="{{i.title}}" value="{{i.id}}">{{i.title}}</option>
                {% endfor %}
                </select></p>
            <p><input type="submit"></p>
        </div>
        </form>
    </div>
</body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>