<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>Admin bot</title>
</head>
<body>
<div class="container">
   <h1>Admin </h1>
    <div class="menu">
        <a href="/admin/orders">Заказы</a>
        <a href="/admin/products">Товары</a>
        <a href="/admin/add_group">Добавить категорию</a>
        <a href="/admin/add_product">Добавить товар</a>
        <a href="/admin/users">Пользователи</a>
        <a href="/admin/news">Новости</a>
        <a href="/admin/add_news">Добавить новости</a>
    </div>
</div>

</body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>