<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>
<div class="container">
   <h1>Admin </h1>
        <div class="menu">
        <a href="/admin/orders">Заказы</a>
        <a href="/admin/products">Товары</a>
        <a href="/admin/add_group">Добавить категорию</a>
        <a href="/admin/add_product">Добавить товар</a>
        <a href="/admin/users">Пользователи</a>
        <a href="/admin/news">Новости</a>
        <a href="/admin/add_news">Добавить новости</a>
    </div>
</div>
<div class="container">

 <table  class="table table-striped table-dark">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">created_at</th>
        <th scope="col">user</th>
        <th scope="col">sum_order</th>
        <th scope="col">phone_number</th>
        <th scope="col">email</th>
        <th scope="col">address</th>
    </tr>
  </thead>
  <tbody>
    {% for i in orders %}
    <tr>
        <th scope="row"></th>
        <td>{{i.created_at}}</td>
        <td>{{i.user.first_name}}</td>
        <td>{{i.sum_order}}</td>
        <td>{{i.phone_number}}</td>
        <td>{{i.email}}</td>
        <td>{{i.address}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

</html>